<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--== CSS Files ==-->
    <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet" media="screen" >
    <link href="{{ site.baseurl }}/css/style3.css" rel="stylesheet" media="screen" />
    <link href="{{ site.baseurl }}/css/font-awesome.css" rel="stylesheet" media="screen" />
    <link href="{{ site.baseurl }}/css/animate.min.css" rel="stylesheet" media="screen" />
    <link href="{{ site.baseurl }}/css/font-awesome.css" rel="stylesheet" media="screen" />
    <link href="{{ site.baseurl }}/css/flexslider.css" rel="stylesheet" media="screen" />
    <link href="{{ site.baseurl }}/responsive.css" rel="stylesheet" media="screen" />
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Belgrano" rel="stylesheet" type="text/css">
    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header id="header">
	<div id="menu" class="header-menu fixed">
	    <div class="container box">
		<div class="row">
		    <nav role="navigation" class="col-sm-12">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			    </button>

			    <!--== Logo ==-->
			    <span class="navbar-brand logo">
				<span class="fa fa-map-marker"></span>
			    </span>
			</div>
			<div class="navbar-collapse collapse">
			    
			    <!--== Navigation Menu ==-->
			    <ul class="nav navbar-nav">
				<li class="current"><a href="#header">Inicio</a></li>
				<li><a href="#evento">O Evento</a></li>
				<li><a href="#schedule">Programa</a></li>
				<li><a href="#speakers">Palestrantes</a></li>
				<!--<li><a href="#faq">FAQ</a></li>-->
				<li><a href="#organizacao">Organização</a></li>
				<li><a href="#patrocinio">Patrocinio</a></li>
				<li><a href="#apoio">Apoio</a></li>
				<li><a href="#register">Registre-se</a></li>
			    </ul>
			    
			</div>
		    </nav>
		</div>
	    </div>
	</div>

	<!--== Site Description ==-->
	<div class="header-cta">
	    <div class="container">
		<div class="row">
		    <div class="blk">
			<h1>Encontro em Computação Semântica</h1>
			<p>Universidade Federal do Rio de Janeiro<br/>
				Auditório do IGEO, CCMN<br/>
				Av. Athos da Silveira, 274<br/>	
				Rio de Janeiro
			</p>
		    </div>
		</div>
		<div class="row">
		    <div class="blk">
			<input type="submit" value="Registre-se" name="submitGoTo" id="goregister">
		    </div>
		</div>
	    </div>
	</div>

	<div class="header-bg">
	    <div id="preloader" class="ready">
		<div class="preloader"></div>
	    </div>
	    <div class="main-slider" id="main-slider">
		
		<!--== Main Slider ==-->
		<ul class="slides">
		    <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0.895077506187845;">
			<img src="images/bg/bg-slide-06.jpg" alt="Slide Image" draggable="false" style="margin-left: -675.5px;">
		    </li>
		    <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 0.104922493812155;">
			<img src="images/bg/bg-slide-05.jpg" alt="Slide Image 2" draggable="false" style="margin-left: -675.5px;">
		    </li>
		</ul>

	    </div>
	</div>
    </header>

    <div class="content">
	<div class="container box">
	    
	    <!--===============================-->
	    <!--== Features ===================-->
	    <!--===============================-->
	    <section id="features" class="row">
		<div class="col-md-3 col-xs-6">
		    <div class="event-info">
			<div class="icon fa fa-map-marker"></div>
			<div class="info">
			    <h3>Rio de Janeiro</h3>
			    <span>IGEO, CCMN, UFRJ</span>
			</div>
		    </div>
		</div>
		<div class="col-md-3 col-xs-6">
		    <div class="event-info">
			<div class="icon fa fa-calendar"></div>
			<div class="info">
			    <h3>10 e 11 de Março</h3>
			    <span>2015</span>
			</div>
		    </div>
		</div>
		<div class="col-md-3 col-xs-6">
		    <div class="event-info">
			<div class="icon fa fa-microphone"></div>
			<div class="info">
			    <h3>15 palestrantes</h3>
			    <span>Especialistas em Computação Semântica</span>
			</div>
		    </div>
		</div>
		<div class="col-md-3 col-xs-6">
		    <div class="event-info">
			<div class="icon fa fa-users"></div>
			<div class="info">
			    <h3>110 Lugares</h3>
			    <span>Registre-se gratuitamente!</span>
			</div>
		    </div>
		</div>
	    </section>
	    <!--==========-->


	    <!--===============================-->
	    <!--== Event Description =============-->
	    <!--===============================-->
	    <section id="evento" class="row">
		<div class="col-sm-12">
		    <div class="section-header text-left">
			<h2>O Evento</h2>
			<h4>Primeiro Encontro em Computação Semântica - Rio de Janeiro</h4>
		    </div>
		</div>
		<div class="col-sm-12">
			<p>A computação semântica e cognitiva está emergindo como um campo com grande potencial de impacto socioeconômico. Este potencial se dá pela demanda crescente por soluções tecnológicas para a interpretação de dados heterogêneos e pouco estruturados que permitiam um processamento em grande escala.</p>
			<p>Essa demanda impacta processos fundamentais nos processos de descoberta científica, no gerenciamento de informações pessoais e na tomada de decisões estratégicas em negócios.</p>
			<p>Existem evidências crescentes da adoção de tecnologias semânticas pela indústria. Esta curva de adoção aponta para uma demanda de integração de tecnologias semânticas em infra-estruturas de tecnologia da informação (TI).</p>
			<p>O objetivo do Primeiro encontro em Computação Semântica é discutir o papel de abordagens e tecnologias de computação semântica na solução de desafios contemporâneos em ciência da computação e suas aplicações, promovendo a interação entre os principais atores no cenário de pesquisa e aplicação de Processamento de Linguagem Natural, Web Semântica e Computação Cognitiva no Rio de Janeiro.</p>
		</div>
	    </section>
	    <!--==========-->
	    
	    
	    <!--===============================-->
	    <!--== Schedule ===================-->
	    <!--===============================-->
	    <section id="schedule" class="row">
		<div class="col-md-7 col-sm-12">
		    <div class="content-tabs">
			<ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Dia 1</a></li>
			    <li><a href="#tab2" data-toggle="tab">Dia 2</a></li>
			</ul>
			
			<div class="tab-content">
			    <div class="tab-pane active" id="tab1">
				<ul class="accordion-group">
				    <li class="accordion">
					<a class="accordion-heading">
					    <time>13:00</time>
					    <h4 class="accordion-title">Tutorial em Web Semântica</h4>
					    <span class="fa fa-plus-circle pull-right"></span>
					</a>
					<div class="accordion-body" style="display: none;">
					    O tutorial em Web Semântica é voltado para iniciantes. Mais informações em breve.
					</div>
				    </li>
				    <li class="accordion">
					<a class="accordion-heading">
					    <time>15:00</time>
					    <h4 class="accordion-title">Tutorial em Processamento de Linguagem Natural</h4>
					    <span class="fa fa-plus-circle pull-right"></span>
					</a>
					<div class="accordion-body" style="display: none;">
					    O tutorial em Processamento de Linguagem Natural é voltado para iniciantes. Mais informações em breve.
					</div>
				    </li>
				    <li class="accordion">
					<a class="accordion-heading">
					    <time>17:00</time>
					    <h4 class="accordion-title">Tutorial em Question Answering</h4>
					    <span class="fa fa-plus-circle pull-right"></span>
					</a>
					<div class="accordion-body" style="display: none;">
					    O tutorial em Question Answering é voltado para iniciantes. Mais informações em breve.
					</div>
				    </li>
				</ul>
			    </div>
			    <div class="tab-pane" id="tab2">
				<ul class="accordion-group">
				    <li class="accordion">
					<a class="accordion-heading">
					    <time>9:00</time>
					    <h4 class="accordion-title">Apresentação de Grupos de Pesquisa</h4>
					    <span class="fa fa-plus-circle pull-right"></span>
					</a>
					<div class="accordion-body" style="display: none;">
					    Esta seção visa a apresentação do trabalho sendo conduzido por diversos grupos de pesquisa na área de Computação Semântica no Rio de Janeiro. Seu objetivo é facilitar a busca por pontos de conexão para futuras colaborações na área.<br/><br/>
					    <b>Aline Paes: </b> Aprendizado de Modelos Semânticos Expressivos com Programação por Conjuntos de Resposta.<br/>
					    <b>Christian Aranha:</b> Aprendizado Adaptativo de Estruturas Semânticas.<br/>
					    <b>Daniel Schwabe:</b> Desenvolvimento de Sistemas Socio-Técnicos Dirigido por Modelos Semânticos.<br/>
					    <b>Ícaro Medeiros:</b> Linked Data, Big data and User Science @ globo.com.<br/>
					    <b>Karin Breitman:</b> Linked Data para Dados Abertos.<br/>
					    <b>Sérgio Serra:</b> Computação semântica em E-Science.
					</div>
				    </li>
				    <li class="accordion">
					<a class="accordion-heading">
					    <time>14:00</time>
					    <h4 class="accordion-title">Mesa Redonda</h4>
					    <span class="fa fa-plus-circle pull-right"></span>
					</a>
					<div class="accordion-body" style="display: none;">
					    Esta seção visa a discussão de possíveis direções para pesquisa e aplicação na área de Computação Semântica.
					</div>
				    </li>
				    <li class="accordion">
					<a class="accordion-heading">
					    <time>16:00</time>
					    <h4 class="accordion-title">Planejamento (Somente com convite)</h4>
					    <span class="fa fa-plus-circle pull-right"></span>
					</a>
					<div class="accordion-body" style="display: none;">
					    Reunião de representantes dos grupos convidados.
					</div>
				    </li>
				</ul>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col-md-5 col-sm-12">
		    <h2>Programa</h2>
		    <p>O Encontro é dividido em dois dias:</p>
		    <ul>
			<li>Dia 1 - O primeiro dia será composto por tutoriais voltado para iniciantes com interesse em ingressar na área de Computação Semântica.</li>
			<li>Dia 2 - O segundo dia é voltado para a apresentação dos trabalhos conduzidos por grupos de pesquisa e aplicação de Semântica Computacional e discussão de possíveis pontos de colaboração.</li>
		    </ul>
		</div>
	    </section>
	    <!--==========-->
        

	    <!--===============================-->
	    <!--== Speakers ===================-->
	    <!--===============================-->
	    <section id="speakers" class="row separated">
		<div class="col-sm-12">
		    <div class="section-header text-center">
			<h2>Palestrantes</h2>
			<h4>Membros da Academia e Indústria que confirmaram presença como palestrantes.</h4>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/aline.jpg" alt="Aline Paes">
			    </div>								
			    <div class="speaker-contacts">
				<a href="http://www.ic.uff.br/~alinepaes" class="contact pull-left fa fa-university"></a>
				<a href="http://br.linkedin.com/pub/aline-paes/41/7a1/9ab" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Aline Paes</h3>
			<p>Universidade Federal Fluminense (UFF)</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/alexandre.jpg" alt="Alexandre Rademaker">
			    </div>
			    <div class="speaker-contacts">
				<a href="http://emap.fgv.br/people/alexandre.rademaker.html" class="contact pull-left fa fa-university"></a>
				<a href="http://br.linkedin.com/pub/alexandre-rademaker/8/a7/73a" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Alexandre Rademaker</h3>
			<p>FGV/EMAp e IBM Research</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/no_pic_w.png" alt="Ana Maria Moura">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="http://br.linkedin.com/pub/ana-maria-moura/11/3a9/626" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Ana Maria Moura</h3>
			<p>Laboratório Nacional de Computação Científica (LNCC)</p>
		    </div>
		</div>
		<div>&nbsp;</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/andre_freitas.jpg" alt="André Freitas">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="https://ie.linkedin.com/in/andrefreitas" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>André Freitas</h3>
			<p>Insight Centre for Data Analytics @ NUIG</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/bianca_pereira.jpg" alt="Bianca Pereira">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="https://www.linkedin.com/in/biancaolipereira" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Bianca Pereira</h3>
			<p>Insight Centre for Data Analytics @ NUIG</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/cicero.jpg" alt="Cícero Nogueira dos Santos">
			    </div>
			    <div class="speaker-contacts">
				<a href="http://researcher.watson.ibm.com/researcher/view_person_pubs.php?person=br-cicerons&t=1" class="contact pull-left fa fa-university"></a>
				<!--<a href="#" class="contact pull-right fa fa-linkedin"></a>-->
			    </div>
			</div>
			<h3>Cícero Nogueira dos Santos</h3>
			<p>IBM Research</p>
		    </div>
		</div>
		<div>&nbsp;</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/christian.jpg" alt="Christian Aranha">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-university"></a>-->
				<a href="https://www.linkedin.com/in/cnaranha" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Christian Aranha</h3>
			<p>Cortex Intelligence</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/daniel.jpg" alt="Daniel Schwabe">
			    </div>
			    <div class="speaker-contacts">
				<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4787027P5" class="contact pull-left fa fa-university"></a>-->
				<a href="https://www.linkedin.com/in/dschwabe" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Daniel Schwabe</h3>
			<p>Pontifícia Universidade Católica (PUC-Rio)</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/icaro.png" alt="Ícaro">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="http://br.linkedin.com/in/icaromedeiros" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Ícaro Medeiros</h3>
			<p>Globo.com</p>
		    </div>
		</div>
		<div>&nbsp;</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/karin.jpg" alt="Karin Breitman">
			    </div>
			    <div class="speaker-contacts">
				<a href="http://lattes.cnpq.br/5297074319265251" class="contact pull-left fa fa-university"></a>
				<a href="http://br.linkedin.com/pub/karin-breitman/0/697/602?domainCountryName=Brazil&csrfToken=guest_token&domainCountryCode=br" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Karin Breitman</h3>
			<p>EMC</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		     <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/no_pic_w.png" alt="Kate Revoredo">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="http://br.linkedin.com/pub/kate-revoredo/20/52/401?domainCountryName=Brazil&csrfToken=guest_token&domainCountryCode=br" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Kate Revoredo</h3>
			<p>Universidade Federal do Estado do Rio de Janeiro (UniRIO)</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/no_pic.gif" alt="Marco Casanova">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="https://www.linkedin.com/in/marcoantoniocasanova" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Marco Casanova</h3>
			<p>Pontifícia Universidade Católica (PUC-Rio)</p>
		    </div>
		</div>
		<div>&nbsp;</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/no_pic_w.png" alt="Maria Cláudia Cavalcante">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="https://www.linkedin.com/pub/maria-claudia-cavalcanti/4/191/662" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Maria Cláudia Cavalcante</h3>
			<p>Instituto Militar de Engenharia (IME)</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/no_pic.gif" alt="Renato Rocha Souza">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="https://www.linkedin.com/profile/view?id=357907" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Renato Rocha Souza</h3>
			<p>Fundação Getúlio Vargas (FGV)</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/sergio.jpeg" alt="Sérgio Serra">
			    </div>
			    <div class="speaker-contacts">
				<a href="http://lattes.cnpq.br/7618571401128973" class="contact pull-left fa fa-university"></a>
				<a href="http://br.linkedin.com/pub/sergio-serra/6/608/7a1" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Sérgio Serra</h3>
			<p>Universidade Federal Rural do Rio de Janeiro (UFFRJ)</p>
		    </div>
		</div>
	    </section>
	    <!--==========-->


	    <!--===============================-->
	    <!--== FAQ ========================-->
	    <!--===============================-->
	   <!-- <section id="faq" class="row">
		<div class="col-sm-12">
		    <div class="section-header text-right">
			<h2>F.A.Q</h2>
			<h4>Awesome section description goes here.</h4>
		    </div>
		</div>
		<div class="col-sm-6">
		    <ul class="accordion-group">
			<li class="accordion">
			    <a class="accordion-heading">
				<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
				<span class="fa fa-plus-circle pull-right"></span>
			    </a>
			    <div class="accordion-body" style="display: none;">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
			    </div>
			</li>
			<li class="accordion">
			    <a class="accordion-heading">
				<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
				<span class="fa fa-plus-circle pull-right"></span>
			    </a>
			    <div class="accordion-body" style="display: none;">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
			    </div>
			</li>
		    </ul>
		</div>
		<div class="col-sm-6">
		    <ul class="accordion-group">
			<li class="accordion">
			    <a class="accordion-heading">
				<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
				<span class="fa fa-plus-circle pull-right"></span>
			    </a>
			    <div class="accordion-body" style="display: none;">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
			    </div>
			</li>
			<li class="accordion">
			    <a class="accordion-heading">
				<h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
				<span class="fa fa-plus-circle pull-right"></span>
			    </a>
			    <div class="accordion-body" style="display: none;">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
			    </div>
			</li>
		    </ul>
		</div>
	    </section>-->
	    <!--==========-->
        

        <!--===============================-->
	    <!--== Organização ===================-->
	    <!--===============================-->
	    <section id="organizacao" class="row">
		<div class="col-sm-12">
		    <div class="section-header text-center">
			<h2>Organização</h2>
			<h4></h4>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/andre_freitas.jpg" alt="André Freitas">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="https://ie.linkedin.com/in/andrefreitas" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>André Freitas</h3>
			<p>Insight Centre for Data Analytics @ NUIG</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/bianca_pereira.jpg" alt="Bianca Pereira">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<a href="https://www.linkedin.com/in/biancaolipereira" class="contact pull-right fa fa-linkedin"></a>
			    </div>
			</div>
			<h3>Bianca Pereira</h3>
			<p>Insight Centre for Data Analytics @ NUIG</p>
		    </div>
		</div>
		<div class="col-md-4 col-sm-6">
		    <div class="speaker">
			<div class="speaker-info">
			    <div class="speaker-photo">
				<img src="images/speakers/no_pic.gif" alt="João Carlos Pereira da Silva">
			    </div>
			    <div class="speaker-contacts">
				<!--<a href="#" class="contact pull-left fa fa-linkedin"></a>-->
				<!--<a href="http://br.linkedin.com/pub/sergio-serra/6/608/7a1" class="contact pull-right fa fa-linkedin"></a>-->
			    </div>
			</div>
			<h3>João Carlos Pereira da Silva</h3>
			<p>Universidade Federal do Rio de Janeiro (UFRJ)</p>
		    </div>
		</div>
	    </section>
	    <!--==========-->


	    <!--===============================-->
	    <!--== Patrocínio ===================-->
	    <!--===============================-->
	    <section id="patrocinio" class="row">
		<div class="col-sm-12">
		    <div class="section-header text-center">
			<h2>Patrocínio</h2>
			<h4></h4>
		    </div>
		</div>
		<div class="col-sm-12">
		    <div class="col-sm-6"><a href="http://www.sfi.ie"><img src="images/partners/sfi.png" alt="Science Foundation Ireland"></a></div>
		    <div class="col-sm-6"><img src="images/partners/amtera-logo.png" alt="Amtera"></div>
		</div>
	    </section>
	    <!--==========-->


	    <!--===============================-->
	    <!--== Apoio ===================-->
	    <!--===============================-->
	    <section id="apoio" class="row">
		<div class="col-sm-12">
		    <div class="section-header text-center">
			<h2>Apoio</h2>
			<h4></h4>
		    </div>
		</div>
		<div class="col-sm-12">
		    <div class="col-sm-3"><a href="http://rbi.ie"><img src="images/partners/rbi-logo.png" alt="Research Brazil Ireland"></a></div>
		    <div class="col-sm-3"><a href="http://insight-centre.org"><img src="images/partners/insight_logo.jpg" alt="Insight Centre for Data Analytics"></a></div>
		    <div class="col-sm-3"><a href="http://ufrj.br"><img src="images/partners/ufrj_logo.jpg" alt="Universidade Federal do Rio de Janeiro"></a></div>
		    <div class="col-sm-3"><a href="http://www.dcc.ufrj.br"><img src="images/partners/dcc-ufrj-logo.png" alt="Departamento de Ciência da Computação - UFRJ"></a></div>
		</div>
	    </section>
	    <!--==========-->


	    <!--===============================-->
	    <!--== Register ===================-->
	    <!--===============================-->
	    <section id="register" class="row">
		<div class="col-sm-12">
		    <div class="section-header text-center">
			<h2>Registre-se</h2>
			<h4>O evento é gratuito porém é necessário registrar-se.</h4>
		    </div>
		</div>
		<div class="col-sm-12">
		    <input type="submit" value="Clique Aqui" name="submitBtn" id="registerBtn">
		</div>
	    </section>
	    <!--==========-->

	    <div id="gotop" class="gotop fa fa-arrow-up"></div>
	</div>
    </div>

    <footer id="footer">
	<div class="footer">
	    <div class="container box">
		<section id="info" class="row">
		    <div class="col-sm-8">

			<!--== Social Icons ==-->
			<ul class="social-icons">
<!--
			    <li><a href="https://twitter.com/search?q=%23compsem&src=typd" target="_blank" class="fa fa-twitter"></a></li>
			    <li><a href="#" class="fa fa-google-plus"></a></li>
			    <li><a href="#" class="fa fa-youtube"></a></li>
			    <li><a href="#" class="fa fa-instagram"></a></li>
			    <li><a href="#" class="fa fa-pinterest"></a></li>
			    <li><a href="#" class="fa fa-linkedin"></a></li>
-->
			</ul>
			
		    </div>
		    <div class="col-sm-4 text-right">
			<div class="copyrights">
			    Todos os direitos reservados. © 2014
			</div>
		    </div>
		</section>

	    </div>
	</div>
    </footer>

    {% include analytics.html %}
    
    <!--== Javascript Files ==-->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/jquery.accordion.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
